{% extends 'base.html.twig' %}

{% block title %}À propos - Entr'aide 2.0{% endblock %}

{% block body %}
    <section class="about">
        <h2>À propos de Entr'aide 2.0</h2>
        {# Contenu descriptif #}
    </section>
{% endblock %}