{% extends 'base.html.twig' %}

{% block title %}Accueil - Entr'aide 2.0{% endblock %}

{% block body %}
    <section class="hero">
        <h1>Bienvenue sur Entr'aide 2.0</h1>
        <p>Échangez vos compétences et apprenez ensemble !</p>
        <a href="{{ path('app_register') }}" class="btn">Commencer</a>
    </section>
{% endblock %}