{% extends 'emails/base_email.html.twig' %}

{% block content %}
	<h1>Confirmation de compte</h1>

	<p>Bonjour
		{{ user.pseudo }},</p>

	<p>Merci de confirmer votre adresse email en cliquant sur le lien suivant :</p>

	<div style="text-align: center; margin: 30px 0;">
		<a href="{{ absolute_url(path('app_auth_confirm_email', { token: token })) }}" class="btn">
			Confirmer mon compte
		</a>
	</div>

	<p class="text-muted">Ce lien expirera le
		{{ expiration_date|format_datetime('long', 'short')|default(expiration_date|date('d/m/Y H:i')) }}.</p>

	<p class="text-muted">Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer cet email.</p>
{% endblock %}
