{% extends 'emails/base_email.html.twig' %}

{% block content %}
	<h3>Nouveau message de
		{{ sender.pseudo }}</h3>

	<p>Bonjour
		{{ message.receiver.pseudo }},</p>

	<p>Vous avez reçu un nouveau message sur Entr'Aide 2.0 :</p>

	<div class="message-box">
		{{ message.content|nl2br }}
	</div>

	<div style="text-align: center; margin: 25px 0;">
		<a href="{{ url('app_message_conversation', {id: sender.id}) }}" class="btn">
			Voir la conversation
		</a>
	</div>

	<p class="text-muted">Vous recevez cette notification car vous avez reçu un message sur notre plateforme.</p>
{% endblock %}
